.grid-main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 40px;
    padding-top: 25px;
}
.question {
    width: 1050px;
    margin: auto;
    background: #0d0a1c;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 16px;
}
@media screen and (max-width:668px) {
    .grid-main-container{
        flex-direction: column;
        display: flex;
        text-align: center;
    }
}
.my-cart {
    margin-top: 47px;
    text-align: center;
}
button.choose-btn {
    border: none;
    padding: 10px;
    margin: 6px;
    border: 1px solid turquoise;
}
.btn-head{
    display: flex;
}